@model IEnumerable<LibraryManagement.Models.QUYEN>
@{
    ViewBag.Title = "ListRole";
    Layout = "~/Views/Layout/Admin.cshtml";
    ViewBag.Active = 8;
}
@Html.Partial("~/Views/Menu/MenuPartial.cshtml")
<div class="main">
    @Html.Partial("~/Views/Search/Topbar.cshtml")
    <div class="form-group">
        <div class="col-md-offset-5 col-md-10">
            <a class="btn btn-primary" href="@Url.Action("CreateRole", "Accessrights")" style="margin-left:20px">Thêm mới</a>
        </div>
    </div>
    <div class="card-body" style="padding-top:0">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                    <th>
                        Mã quyền
                    </th>
                    <th>
                        Tên quyền
                    </th>
                    <th>Chức năng</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MAQUYEN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TENQUYEN)
                        </td>
                        <td>
                            @Html.ActionLink("Chỉnh sửa", "UpdateRole", new { id = item.MAQUYEN }, new { @class = "edit-button" }) |
                            @Html.ActionLink("Xóa", "RemoveRole", new { id = item.MAQUYEN }, new { @class = "delete-button", onclick = "return LibrarianDelete();" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<script>
    function LibrarianDelete() {
        return confirm('Bạn có chắc chắn muốn xóa thể loại này?');
    }
</script>