@model IEnumerable<LibraryManagement.Models.BookBorrowing>
@{
    ViewBag.Title = "Statistical";
    Layout = "~/Views/Layout/Admin.cshtml";
    ViewBag.active = 4;
}
@Html.Partial("~/Views/Menu/MenuPartial.cshtml")
<div class="main">
    @Html.Partial("~/Views/Search/Topbar.cshtml")
    <div class="cartbox">

        <div class="cart">
            <div>
                <a style="text-decoration:none" href="@Url.Action("ChuaDuyetSach","Muontra")">
                    <div class="numbers">@ViewBag.ThongKeSachMuonChuaduyet</div>
                    <div class="cartname">Sách chưa duyệt</div>
                </a>
            </div>
            <div class="iconbx">
                <ion-icon name="cloud-download-outline"></ion-icon>
            </div>
        </div>
        <div class="cart">
            <div>
                <a style="text-decoration:none" href="@Url.Action("DaDuyetSach","Muontra")">
                    <div class="numbers">@ViewBag.ThongKeSachMuonDaduyet</div>
                    <div class="cartname">Sách đã duyệt</div>
                </a>
            </div>
            <div class="iconbx">
                <ion-icon name="cloud-done-outline"></ion-icon>
            </div>
        </div>

        <div class="cart">
            <div>
                <a style="text-decoration:none" href="@Url.Action("DaTraSach","Muontra")">
                    <div class="numbers">@ViewBag.ThongKeSachTra</div>
                    <div class="cartname">Sách đã trả</div>
                </a>
            </div>
            <div class="iconbx">
                <ion-icon name="cloud-upload-outline"></ion-icon>
            </div>
        </div>

        <div class="cart">
            <div>
                <a style="text-decoration:none" href="@Url.Action("ListUser","User")">
                    <div class="numbers">@ViewBag.ThongKeDocGia</div>
                    <div class="cartname">Đọc giả</div>
                </a>
            </div>
            <div class="iconbx">
                <ion-icon name="people-outline"></ion-icon>
            </div>
        </div>
        <div class="cart">
            @using (Ajax.BeginForm("ResultMonthYear", "Statistical", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-container", InsertionMode = InsertionMode.Replace }))
            {
                <div>
                    <div class="numbers">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <button class="btn-month" type="submit">Thống kê sách mượn trong tháng</button>

                    </div>

                </div>

                <select style="display:none" class="statistical-month" name="month">
                    <option value="1">Tháng 1</option>
                    <option value="2">Tháng 2</option>
                    <option value="3">Tháng 3</option>
                    <option value="4">Tháng 4</option>
                    <option value="5">Tháng 5</option>
                    <option value="6">Tháng 6</option>
                    <option value="7">Tháng 7</option>
                    <option value="8">Tháng 8</option>
                    <option value="9">Tháng 9</option>
                    <option value="10">Tháng 10</option>
                    <option value="11">Tháng 11</option>
                    <option value="12">Tháng 12</option>
                </select>
                <select style="display:none" class="statistical-year" name="year">
                    <!-- Các option cho các năm, ví dụ từ 2020 đến năm hiện tại -->
                    @for (int i = 2020; i <= DateTime.Now.Year; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

            }
        </div>

        <div class="cart">

            <div>
                <a style="text-decoration:none" href="@Url.Action("OutofdateBook","Statistical")">
                    <div class="numbers">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <div style="margin:20px 0 0 0" class="cartname">Sách mượn quá hạn</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="cart">

            <div>
                <a style="text-decoration:none" href="@Url.Action("BorrowBooksMax10","Statistical")">
                    <div class="numbers">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <div style="margin:20px 0 0 0" class="cartname">10 Sách mượn nhiều nhất</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="cart">

            <div>
                <a style="text-decoration:none" href="@Url.Action("ViewBooksMax10","Statistical")">
                    <div class="numbers">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                        <div style="margin:20px 0 0 0" class="cartname">10 Sách lượt xem nhiều nhất</div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>
<style>
    .btn-month {
        all: unset;
        color: var(--black2);
        font-size: 1.1rem;
        margin-top: 5px;
    }

    .cartbox .cart:hover .numbers .btn-month {
        color: var(--white);
    }
</style>
