@using LibraryManagement.Models
@{
    ViewBag.Title = "SearchBook";
    Layout = "~/Views/Layout/UserHome.cshtml";
    int count = 0;
    int quantityBookPage = 9;
    int page = 1;

}
<div class="body-wrapper">
    <div class="content-wraper" style="margin-bottom:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="shop-products-wrapper bg-white mt-30 pb-60 pb-sm-30">
                        <div class="tab-content">
                            <div class="shop-top-bar mt-25">
                                <div class="shop-bar-inner">
                                    <div class="product-view-mode">
                                        <!-- shop-item-filter-list start -->
                                        <ul class="nav shop-item-filter-list" role="tablist">
                                            <li class="active" role="presentation">
                                                <a aria-selected="true" class="show active" data-bs-toggle="tab" role="tab" aria-controls="grid-view" href="#grid-view"><i class="fa fa-th"></i></a>
                                            </li>

                                        </ul>
                                        <!-- shop-item-filter-list end -->
                                    </div>
                                </div>
                            </div>
                            <div id="grid-view" class="tab-pane fade active show" role="tabpanel">

                                <div class="fb-product_wrap shop-product-area">
                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            if (count % quantityBookPage == 0 && count != 0)
                                            {
                                                page++;
                                            }
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div @Url.Content("single-product" + page.ToString())>
                                                    <div class="product-img">
                                                        <a href="@Url.Action("BookDetail", "BookDetail", new {maTheLoai = item.MATHELOAI, maNhaXuatBan = item.MANHAXUATBAN, maSach = item.MASACH, @tensp = item.TENSACH })">
                                                            <img class="primary-img" src="@Url.Content("~/assets/Admin/imgs/Product/"+item.HINHANH)" alt="FB'S Prduct">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="product-name" style="margin-top:20px;"><a href="@Url.Action("BookDetail", "BookDetail", new {maTheLoai = item.MATHELOAI, maNhaXuatBan = item.MANHAXUATBAN, maSach = item.MASACH, @tensp = item.TENSACH })" class="product-name-link">@item.TENSACH</a></h5>
                                                        <div class="product-action">
                                                            <ul class="product-action-link">
                                                                @if (Session["TaiKhoan"] != null)
                                                                {
                                                                    <li class="shopping-cart_link"> <a href="">@Ajax.ActionLink(" ", "CreateCartAjax", "Cart", new { @idBook = item.MASACH, @strULR = Request.Url.ToString() }, ajaxOptions: new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "AjaxCart", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "ion-bag my-icon" })</a> </li>
                                                                }
                                                                <li class="single-product_link">
                                                                    <a href="@Url.Action("BookDetail", "BookDetail", new {maTheLoai = item.MATHELOAI, maNhaXuatBan = item.MANHAXUATBAN, maSach = item.MASACH, @tensp = item.TENSACH })"
                                                                       title="Single Product">
                                                                        <i class="ion-link"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            count++;
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="paginatoin-area" style="margin:0">
                        <div class="row">
                            <div class="col-lg-8 col-md-6">
                                <p></p>
                            </div>

                            <div class="col-lg-4 col-md-6" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">
                                <ul class="pagination-box pt-xs-20 pb-xs-15">
                                    <li>
                                        <span>1/@page</span>
                                        @*@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount*@
                                    </li>

                                    <li>
                                        @for (int i = 1; i <= page; i++)
                                        {
                                            <a class="linkpage" data-quantitypage="@Url.Content("Page"+i)">@i</a>
                                            @*<li class="" style="float:right">@Html.PagedListPager(Model, Page => @Url.Action("SearchResultsPartial", new { Page = Page, @keyWork = ViewBag.keyWork }))</li>*@
                                        }
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-2 order-lg-1" style="margin-top:25px">
                    <div class="sidebar-title">
                        <h2>Nhà xuất bản</h2>
                    </div>
                    @Html.Action("NavbarBookPublisher", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .single-product {
        display: none;
    }

    .page1 {
        display: block;
    }
</style>
<script>
    $('.linkpage').click(function () {
        $(".single-product").hide();
        var quantityPage = $(this).prop("data-quantitypage");
        $("." + quantityPage).show();
    })
</script>