@using LibraryManagement.Models
@model THUTHU
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/Admin.cshtml";
}
<div class="auth__form-login">
    <div class="login">
        <h2>Đăng nhập</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="box">
                <input class="input__login" type="text" name="USERNAME" placeholder="Tài khoản">
            </div>
            <div class="box">
                <input class="input__login" name="PASSWORD" type="password" placeholder="Mật khẩu">
            </div>
            <button type="submit" class="btnlogin">Đăng nhập</button>
        }
        @if (TempData["Notification1"] != null)
        {
            <script>
                alert("@Html.Raw(TempData["Notification1"])");
            </script>
        }
        @if (TempData["Notification2"] != null)
        {
            <script>
            alert("@Html.Raw(TempData["Notification2"])");
            </script>
        }
        @if (TempData["Notification3"] != null)
        {
            <script>
                alert("@Html.Raw(TempData["Notification3"])");
            </script>
        }
    </div>
</div>
